@media screen and (min-width: 0px) and (max-width: 991px) {
    .hidden {
         display: block;
    }  /* show it on small screens */
  }
  
  @media screen and (min-width: 992px){
    .hidden { display: none !important; }   /* hide it elsewhere */
  }
  .sikeres{
    color:rgb(26, 231, 26);
    text-align: center;
    text-decoration:underline;
  }
  .erkezes{
    color:rgb(24, 197, 24);
  }
  .tavozas{
    color: rgb(196, 13, 13);
  }
  .nemElerheto{
    color:red !important;
  }
  
  .sor{
    border-style: solid;
    border-width: thin;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.5rem;
    color: rgba(95, 88, 88, 0.527);
  }

  .col{
    font-size: 15px;
  }

  .colketto{
    font-size: 1.5rem;
    margin-top: 8px;
    
  }
  
  .jobbra{
    text-align: right !important;
    
  }